.tox
.eggs
.vscode
.testrepository
.stestr
.idea
**/*.pyc
**/__pycache__
build/
dist/
developer/
networking_nsx_t.egg-info
DEVELOPMENT.md
*.egg-info
*.pyc
venv*
bin
lib
etc
include
pyvenv.cfg
.Python
.local
.DS_Store
test.log
developer.sh
inventory
.data
ml2.ini
neutron.conf

